/* Estilos generales para las columnas */
.col-md-4 {
    display: flex;
    justify-content: center;
}

.testimonial-noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Para la animación suave */
}

/* Establecer el mismo tamaño para todas las columnas */
.col-md-4 > .testimonial-noticia {
    min-height: 400px; /* Ajusta este valor según tus necesidades */
    display: flex;
    flex-direction: column;
}

/* Imagen */
.testimonial-noticia img {
    max-height: 180px;
    object-fit: cover;
}

/* Contenido */
.testimonial-noticia p {
    margin-bottom: 10px;
}

/* Fecha */
.testimonial-noticia .fst-italic {
    margin-top: auto;
}

/* Efecto hover y sombra */
.col-md-4 > .testimonial-noticia:hover {
    transform: translateY(-10px); /* Mover la tarjeta hacia arriba */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aplicar sombra */
}

.testimonial-noticia {
    border: 5px solid transparent; /* Borde transparente por defecto */
    transition: border-color 0.3s ease;
}
.testimonial-noticia:hover {
    border-color: #800020; /* Color vino cuando se pasa el cursor */
}